<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DriveKeepAlive.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KeepDriveBusy.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DriveKeepAlive.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="KeepDriveBusy.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DriveKeepAlive.AppSettings>
            <setting name="FileDirectory" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="WriteInterval" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="TimeToIdle" serializeAs="String">
                <value>30000</value>
            </setting>
        </DriveKeepAlive.AppSettings>
    </userSettings>
    <applicationSettings>
        <DriveKeepAlive.AppSettings>
            <setting name="FileName" serializeAs="String">
                <value>keep-busy.txt</value>
            </setting>
            <setting name="MaximumFileSize" serializeAs="String">
                <value>4096</value>
            </setting>
        </DriveKeepAlive.AppSettings>
    </applicationSettings>
</configuration>